.sidebar {
	flex: 3;
	height: calc(100vh - 70px);
	overflow-y: scroll;
	position: sticky;
	top: 70px;
}

.sidebarWrapper {
	padding: 20px;
}

.sidebarMyFriend {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}

.sidebarFriendList {
	padding: 0;
	margin: 0;
	list-style: none;
}
