.share {
	width: 100%;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	position: relative;
}

.shareWrapper {
	padding: 10px;
}

.shareTop {
	display: flex;
	align-items: center;
}

.shareProfileImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}

.shareInput {
	border: none;
	width: 80%;
}

.shareInput:focus {
	outline: none;
}

.shareHr {
	margin: 20px;
}

.shareBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shareOptions {
	display: flex;
	margin-left: 20px;
}

.shareOption {
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.shareIcon {
	font-size: 18px;
	margin-right: 3px;
}

.shareOptionText {
	font-size: 14px;
	font-weight: 500;
}

.shareButton {
	border: none;
	padding: 7px;
	border-radius: 5px;
	background-color: green;
	font-weight: 500;
	margin-right: 20px;
	cursor: pointer;
	color: white;
}

.shareImgContainer {
	padding: 0 20px 10px 20px;
	position: relative;
}

.shareImg {
	width: 100%;
	object-fit: cover;
}

.shareCancelImg {
	position: absolute;
	top: 0;
	right: 20px;
	cursor: pointer;
	opacity: 0.7;
}

.emojiPickerContainer {
	position: absolute;
	z-index: 100;
	top: 212px;
	left: 30%;
}

.locationInput {
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	outline: none;
	width: 100%;
}

.selectedLocation {
	display: flex;
	align-items: center;
}

.locationText {
	margin-right: 5px;
}

.locationCancel {
	cursor: pointer;
	color: red;
}

.tagsOverlay {
	position: absolute;
	top: 100%; /* Позиционируем ниже инпута */
	left: 0;
	width: 97.5%;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	z-index: 10;
}

.tagItem {
	background-color: #e0e0e0;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.tagItem span {
	margin-right: 5px;
}

.tagCancel {
	cursor: pointer;
	color: red;
	font-size: 14px;
}

.tagInput {
	width: 120px;
	border: none;
	
	outline: none;
	padding: 5px;
	flex: 1;
}
